footer {
    p {
        color: $orangeColar;
        font-size: $footerFontSize;
        text-align: center;
        padding: 50px;
        margin-top: 70px;
        background-color: rgb(63, 62, 62);
    }
}